### Pandas Project 2

Summary::

1) Whenever there is a column having mixture of int,float and string.we can't perform numeric calcultion on that such as max,min, mean
so we need to convet them to numeric. but it will throw error. To avoid error. we need to use ' errors = 'coerce'
                        pd.to_numeric(that column, errors = 'coerce')

2) To find the Avg per Year or Per job. we need to use groupby, because we have many employee per year, per job

3) To Show more than 1 cols we need to pass that as a list of lists of name. [['name', 'id', 'marks']]

4) While droping it is necessary to use the axis for rows and cols. axis = 1 for droping col and axis = 0 for droping row

5) replace() function is important to make changes to cols or rows

6) While finding data in string. we need to use this function: data.str.contains('engineer',case = False): case is True by default

7)

In [1]:
import pandas as pd

In [25]:
data = pd.read_csv(r'F:\Pandas Project 2024\Pandas DataSets\Salaries.csv')

C:\Users\Ozair Khan\AppData\Local\Temp\ipykernel_8048\1181394620.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'F:\Pandas Project 2024\Pandas DataSets\Salaries.csv')

In [3]:
# top 2 rows 
data.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [4]:
# 2 :  last 2 rows
data.tail(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [5]:
# 3: shape of the data 3 Method 
print(f"rows are: ", data.index.stop)
print(f"cols are: ", len(data.columns))

# Method 2
print(f"rows are: ",data.shape[0])
print(f"cols are: ", data.shape[1])

#Method 3 :: we use data.info()

rows are:  148654
cols are:  13
rows are:  148654
cols are:  13

In [6]:
# 4: Getting info of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [7]:
# 5: Check the null values
print(data.isnull().sum(axis = 0))              # this will check all the cols
print(data.isnull().sum(axis  = 1) )              # this will check all the rows

# WE have null values in the 4 columns

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64
0         3
1         3
2         3
3         3
4         3
         ..
148649    1
148650    2
148651    2
148652    2
148653    1
Length: 148654, dtype: int64

In [8]:
# 6:  Drop id, Notes, Agency and Status columns and update the data
data = data.drop(['Id','Notes','Agency','Status'], axis = 1)      # axis is important to mention before droping the cols
data.shape

# After dropin the cols has been reduced to 9

(148654, 9)

In [9]:
# 7: Get the stastics
data.describe(include = 'all')       # using this line non numeric values will also be shown but to show only numeric no need of agru
data.describe

<bound method NDFrame.describe of              EmployeeName                                        JobTitle  \
0          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148649      Roy I Tillery                                       Custodian
148650       Not provided                                    Not provided
148651       Not provided                                    Not provided
148652       Not provided                                    Not provided
148653          Joe Lopez                      Counselor, Log Cabin Ranch

             BasePay   OvertimePay      OtherPay      Benefits   TotalPay  \
0          167411.18           0.0     400184.25           NaN  567595.43
1          155966.02     245131.88     137811.38           NaN  538909.28
2          212739.13     106088.18       16452.6           NaN  335279.91
3            77916.0      56120.71      198306.9           NaN  332343.61
4           134401.6        9737.0     182234.59           NaN  326373.19
...              ...           ...           ...           ...        ...
148649          0.00          0.00          0.00          0.00       0.00
148650  Not Provided  Not Provided  Not Provided  Not Provided       0.00
148651  Not Provided  Not Provided  Not Provided  Not Provided       0.00
148652  Not Provided  Not Provided  Not Provided  Not Provided       0.00
148653          0.00          0.00       -618.13          0.00    -618.13

        TotalPayBenefits  Year
0              567595.43  2011
1              538909.28  2011
2              335279.91  2011
3              332343.61  2011
4              326373.19  2011
...                  ...   ...
148649              0.00  2014
148650              0.00  2014
148651              0.00  2014
148652              0.00  2014
148653           -618.13  2014

[148654 rows x 9 columns]>

In [10]:
# 8:  Find the occurance of employe name top 5
data['EmployeeName'].value_counts().head()

EmployeeName
Kevin Lee       13
William Wong    11
Richard Lee     11
Steven Lee      11
John Chan        9
Name: count, dtype: int64

In [11]:
# 9: unique job title
data['JobTitle'].unique()             # It will show the names array
data['JobTitle'].nunique()           # it will shown the numbers

2159

In [12]:
# 10: total number of jobs that contain Captain
# both the methods can be used 

data[data['JobTitle'].str.contains('Captain',case = False)].count()
print(f"the len is : ",len(data[data['JobTitle'].str.contains('Captain',case = False)]))

the len is :  552

In [13]:
# 11: the name of the Employees from Fire Department

data[data['JobTitle'].str.contains('Fire Department',case = False)]['EmployeeName']

4              PATRICK GARDNER
6                    ALSON LEE
8               MICHAEL MORRIS
9           JOANNE HAYES-WHITE
10               ARTHUR KENNEY
                  ...
32623             JAMES BARDEN
36162       Joanne Hayes-White
72926     Joanne M Hayes-White
102303          Robert E Evans
110535    Joanne M Hayes-White
Name: EmployeeName, Length: 226, dtype: object

In [14]:
# 12: The min () , max() and avg()  of BasePay of 

# Note:: This col had mixture of int, float and strings and was not possible to calculte the numeric attribute linke min, max and mean
# so we first conveted it into numeric by forcing the non numeric values using  '  errors = coerce'


print(f" min is : ", pd.to_numeric(data['BasePay'], errors='coerce').min())
print(f" max is : ", pd.to_numeric(data['BasePay'], errors='coerce').max())
print(f" mean is: ", pd.to_numeric(data['BasePay'], errors='coerce').mean())

 min is :  -166.01
 max is :  319275.01
 mean is:  66325.4488404877

In [15]:
# 13: Replace not provided in ' Exmployee' name col to Nan
import numpy as np
data['EmployeeName'].replace({'Not provided':np.nan})         # Remember nan is an Attribute like shape, index, columns, dtype and ndim

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650                  NaN
148651                  NaN
148652                  NaN
148653            Joe Lopez
Name: EmployeeName, Length: 148654, dtype: object

In [35]:
# 14: drop the rows having more than 5 missing values:
# The data set might have changed. the max null values showing per row == 1. and most of the row has this behavious

# 15: Job Title of ALBERT FERDINI
data[data['EmployeeName'] == 'ALBERT PARDINI']['JobTitle']

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

In [36]:
# 16: How much ALBERT PARDINI makes including benefits
data[data['EmployeeName'] == 'ALBERT PARDINI']['TotalPayBenefits']

2    335279.91
Name: TotalPayBenefits, dtype: float64

In [47]:
# 17: Display the Name of the person having highest basePay
maxi = pd.to_numeric(data['BasePay'], errors = 'coerce').max()
print("Method 1:   ",data[data['BasePay'] == maxi]['EmployeeName'])

# or we can do the same using the folowing method
print("Method 2:   ",data[pd.to_numeric(data['BasePay'],errors = 'coerce').max() == data['BasePay']]['EmployeeName'])

Method 1:    72925    Gregory P Suhr
Name: EmployeeName, dtype: object
Method 2:    72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [61]:
# 18: Average BasePay of the Employees Per Year. We have the Year col
# Average Salary Per job Title. As we are using groupby(). the reason is we have large number of employees per Year
data.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [62]:
# 19: Average Salary Per job Title. As we are using groupby(). the reason is we have large number of employees per job
data.groupby('JobTitle')['BasePay'].mean()

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2159, dtype: float64

In [17]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [65]:
# 20: Find the avg basepay of the employee having job title Accountant

data[data['JobTitle'] == 'ACCOUNTANT']['BasePay'].mean()

np.float64(46643.172)

In [67]:
# 21: Find the top 5 most common jobs

data['JobTitle'].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64