### Project 1

Summary::               The columns, index,dtypes,shape are not method but attribute

1) The Best Thing is to Check every col befor making any operation on them

2) Whenver we have to math a string. we need to use str method and make sure the case = False if interested in both small and capital 

3) value_counts() is used to check the frequency of data

4) some time we add a temprory cols to our data to run operation for the sake of easyiness and then delete them.

5) While Matching it is necessary to make sure the type of cols you are matching. int, float or str

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv(r'F:\Pandas Project 2024\Pandas DataSets\Ecommerce Purchases')

In [7]:
# 1: top 2 rows

data.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [8]:
# 2: last 2 rows

data.tail(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [12]:
# 3: Check the data type of each columns 

data.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [15]:
# 4: Check the null values in the dataset

data.isnull().sum(axis = 0)       # Axis = 0 for col and 1 for row. the default is for col

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Length: 10000, dtype: int64

In [17]:
# 5: Number of Rows and Cols
# Method 1
data.shape

(10000, 14)

In [27]:
# Method 2: 
stopIdx = data.index
print("No of Rows",stopIdx.stop)
print("No of cols",len(data.columns))

No of Rows 10000
No of cols 14

In [28]:
# Method 3 We can also use the info Method
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [34]:
# 6: max and min purchase price
print(data['Purchase Price'].min())
print(data['Purchase Price'].max())

0.0
99.99

In [35]:
# 7: the mean price
data['Purchase Price'].mean()

np.float64(50.347302)

In [68]:
# 8 How many people have fr in their Language:: 2 Method: first one is using len() and the second is count
# print((data[data['Language'] == 'fr']).count())
len(data[data['Language'] == 'fr'])

1097

1097

In [66]:
# 9: how many jobs has the word engineer
# Remember: the engineer is contain inside a string. so we used a contains(). the normal mask is not woring here b/c the word
# engineer is not alone
# By default the case = True. means only math engineer. But to math both capital and small make the case = False
len(data[data['Job'].str.contains('engineer',case = False)])

984

In [54]:
# 10: Find the email of the person with the ip adress. 132.207.160.22
data[data['IP Address'] == '132.207.160.22']['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

In [65]:
# 11 How many people have mastercard and purchase above 50
# two conditions are treated differently and shall be enclose in parenthesis
len(data[(data['CC Provider'] == 'Mastercard') & (data['Purchase Price'] > 50)])

405

In [76]:
# 12:: Find the email of the person with creditcardnumber = 4664825258997302
data[data['Credit Card'] == 4664825258997302]['Email']

9992    bberry@wright.net
Name: Email, dtype: object

In [78]:
# 13: How many persons purchase during the Am and how many during the Pm

data['AM or PM'].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [94]:
# 14: How many people have credit card that expires in 2020
# WE can use function to traverse the Series Object and match 20 only

def yr():
    count = 0
    for itms  in data["CC Exp Date"]:
        if itms.split("/")[1] == '20':
            count+= 1
    print(count)
yr()

988

In [103]:
# Method 2 We can use lambda function 
len(data[data["CC Exp Date"].apply(lambda x: x[3:] == '20')])

988

In [104]:
# 15: Top 5 Email Provider: Couple of Method has been discussed below
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [123]:
# Method 1
from collections import Counter
email = Counter()
for val in data['Email']:
    domain = val.split('@')
    email.update([domain[1]])
pd.Series(email).head()

yahoo.com               1616
reed.com                   8
morales-harrison.com       1
olson-robinson.info        1
gmail.com               1605
dtype: int64

In [130]:
lst = []
for mail in data['Email']:
    lst.append(mail.split("@")[1])
# Add a temp col to data

data['Temp'] = lst
data['Temp'].value_counts().head()

Temp
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

In [131]:
# Method 3: lambda function 

data['Email'].apply(lambda x: x.split('@')[1]).value_counts().head()

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64